@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --bg-white: #ffffff;
  --color-primary:#212844;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: var(--bg-white);
  margin: 0;
  padding: 0;
}

.text-primary {
  color: var(--color-primary);
}
.bg-primary {
  background-color: var(--color-primary);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
}


/* Swiper Custom Pagination Dots */
.hero .custom-pagination .swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: #ffffff80; /* light white */
  opacity: 1;
  border-radius: 50%;
  transition: all 0.3s ease;
}

.hero .custom-pagination .swiper-pagination-bullet-active {
  width: 20px;          /* increase width */
  height: 8px;
  background: var(--color-primary);  /* full white */
  border-radius: 10px;  /* pill shape */
}
.hero .custom-pagination .swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  margin: 0 4px !important;
  background: var(--color-primary) !important;
  border-radius: 10px !important;
  opacity: 0.5 !important;        
  transition: all 0.3s ease !important;
}

.hero .custom-pagination .swiper-pagination-bullet-active {
  width: 20px !important;         
  opacity: 1 !important;          
}


/* Arrow hover effect */
.hero .prev-btn:hover,
.hero .next-btn:hover {
  transform: scale(1.15);
  background-color: #0f1acf; 
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

.prev-btn,
.next-btn {
  transition: all 0.3s ease;
}
